header {
    background-color: red;
    display: flex;
}

header h1 {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 25px;
    margin-right: 150px;
}

header nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header nav ul li {
    display: block;
    background-color: teal;
    padding: 15px;
    margin: 10px;
}